<form action="get_ads" method="post" enctype="multipart/form-data">
    <div class="card row mt-3 addAds-Box">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="posOption">
                        <input type="radio" name="pos" id="left" value="left" required>
                        <label for="left">On Left of Page</label><br>
                        <input type="radio" name="pos" id="right" value="right" required>
                        <label for="right">On Right of Page</label><br>
                    </div>
                </div>
                <div class="col">
                    <div class="imgOption">
                        <input class="form-control control" type="file" id="fileInput" name="adsImg" onchange="loadFile(event)" accept="image/*" required>
                    </div>
                    <div class="text-center">
                        <img id="fileDisplayArea">
                    </div>
                    <div class="row my-3">
                        <div class="col-4">
                            <label>Form: </label>
                            <div class="inputAds text-center">
                                <input class="day text-center" type="text" name="dStart" placeholder=".." required>/
                                <input class="month text-center" type="text" name="mStart" placeholder=".." required>/
                                <input class="year text-center" type="text" name="yStart" placeholder="....." required>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>To: </label>
                            <div class="inputAds text-center">
                                <input class="day text-center" type="text" name="dEnd" placeholder=".." required>/
                                <input class="month text-center" type="text" name="mEnd" placeholder=".." required>/
                                <input class="year text-center" type="text" name="yEnd" placeholder="....." required>
                            </div>
                        </div>
                        <div class="col-4">
                            <label>Time(s): <span class="text-danger">Maximun 60s</span> </label>
                            <input class="inputAds" type="text" name="time" placeholder="" required>
                        </div>
                    </div>
                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-order btnAds"> Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
var loadFile = function(event) {
	var image = document.getElementById('fileDisplayArea');
	image.src = URL.createObjectURL(event.target.files[0]);
    image.className = "img-thumbnail imgArea my-3";
};
</script>