<footer id="footer" class="mt-4">
    <div class="row w-100">
        <div class="col-4 d-flex justify-content-center align-items-center w-75">
            <div class="container" style="width: 80%;">
                <div class="row my-1">
                    <div class="col-12">
                        Email: Lorem@Lo.re.m
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col-12">
                        Phone: 0123456789    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex align-items-center">
            <nav class="navbar navbar-expand-md w-100">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mx-auto d-flex justify-content-between justify-content-center w-100"  style="width: calc(100% - 100px)">
                        <li class="nav-item p-1 active left-item" style="width: 19%"> <a class="w-100" href="#" style="text-align: center;"> Home </a></li>
                        <li class="nav-item p-1 left-item" style="width: 19%"> <a class="w-100" href="./credit.html" style="text-align: center;"> About Us </a></li>
                        <li class="nav-item p-1 left-item" style="width: 19%"> <a class="w-100" href="./MenuCategory.html" style="text-align: center;"> Menu </a></li>
                        <li class="nav-item p-1 left-item" style="width: 19%"> <a class="w-100" href="#" style="text-align: center;"> Blog </a></li>
                        <li class="nav-item p-1 left-item" style="width: 19%"> <a class="w-100" href="./contact.html" style="text-align: center;"> Contact </a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center w-75">
            <div class="container" style="width: 80%;">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        Address: abc, xyz, tvu
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-4 d-flex justify-content-center align-items-center my-1">
                        <button id="rp-btn" type="button" class="btn d-flex justify-content-center align-items-center">Report Error</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>