
<link rel="stylesheet" href="css/add_ads.css">
<div class="container">
    <form action="">
        <div class="card">
            <div class="card-header text-center">
                Add advertisement
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="posOption">
                            <input type="radio" name="pos" value="left">
                            <label>On Left of Page</label><br>
                            <input type="radio" name="pos" value="right">
                            <label>On Right of Page</label><br>
                        </div>
                    </div>
                    <div class="col">
                        <div class="imgOption">
                            <input class="form-control control" type="file" id="fileInput" accept="image/*">
                        </div>
                        <div class="text-center" id="fileDisplayArea">
                        </div>
                        <div class="row my-3">
                            <div class="col-4">
                                <label>Form: </label>
                                <div class="inputAds text-center">
                                    <input class="day text-center" type="text" placeholder="..">/
                                    <input class="month text-center" type="text" placeholder="..">/
                                    <input class="year text-center" type="text" placeholder=".....">
                                </div>
                            </div>
                            <div class="col-4">
                                <label>To: </label>
                                <div class="inputAds text-center">
                                    <input class="day text-center" type="text" placeholder="..">/
                                    <input class="month text-center" type="text" placeholder="..">/
                                    <input class="year text-center" type="text" placeholder=".....">
                                </div>
                            </div>
                            <div class="col-4">
                                <label>Time(s): </label>
                                <input class="inputAds" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="text-center mb-4">
                            <button type="submit" class="btn btn-order btnAds"> Confirm</button>
                            <a href="/add_ads"><button class="btn btn-order btnAds"> Cancel</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="js/add_ads.js"></script>