<link rel="stylesheet" href="/css/change_rcm.css">
<div class="container-fluid row mx-auto px-3 my-auto py-3">
    <div class="col-2 side-bar p-2">
        {{> admin-sidebar-menu isChangeRcmProduct=true}}
    </div>
    <div class="col-10 p-2">
        <div class="container w-100 bg-main px-2 py-1">
            <h1 class="product-list__header__content text-white">Change recommend product</h1>
        </div>
        {{> enter-recommend-form}}
    </div>  
</div>