<div class="container-fluid row mx-auto px-5 my-auto py-3">
    <div class="col-2 side-bar p-2">
        {{> admin-sidebar-menu isAdd=false}}
    </div>
    <div class="col-10 p-2 product-list">
        <div class="container w-100 product-list__header bg-main px-2 py-1">
            <h1 class="product-list__header__content text-white">All products</h1>
        </div>
        {{#each products}}
        {{> product-horizon-card product=this}}
        {{/each}}
    </div>
</div>