<link rel="stylesheet" href="/css/add_ads.css">
<div class="container-fluid row mx-auto px-5 my-auto py-3">
    <div class="col-2 side-bar p-2">
        {{> admin-sidebar-menu isAddAds=true}}
    </div>
    <div class="col-10 p-2">
        <div class="container w-100 bg-main px-2 py-1">
            <h1 class="product-list__header__content text-white">Add advertisement</h1>
        </div>
        {{> enter-advertisement-form}}
    </div>  
</div>
<script src="js/add_ads.js"></script>