.changing-background{
    height: 85%;
    width: 95%;
    background-position: center;    
    background-size: cover;
    background-color: rgba(136, 216, 83, 0.911);
    position: absolute;
    top: 100px;
    left: 30px;
    padding-left: 19px;
    z-index: 10;
    display: none;
    margin-top: -20px !important;
}

#cakes{
    display: none;
}

#cakes{
    display: none;
}

.close_ads{
    border: none;
    position: absolute;
    left: 1140px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}