body{
    background-color: #fafafa !important;
}
@media (min-width: 0) {
    .g-mb-30 {
        margin-bottom: 2.14286rem !important;
    }
}

@media (min-width: 0) {
    .g-py-40 {
        padding-top: 2.85714rem !important;
        padding-bottom: 2.85714rem !important;
    }
}

@media (min-width: 0) {
    .g-px-20 {
        padding-left: 1.42857rem !important;
        padding-right: 1.42857rem !important;
    }
}
@media (min-width: 0){
    .g-mb-5 {
        margin-bottom: 0.35714rem !important;
    }
}

.g-bg-white {
    background-color: #fff !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-primary {
    color: #72c02c !important;
}

.g-font-size-16 {
    font-size: 1.14286rem !important;
}



.g-color-black {
    color: #000 !important;
}

.g-font-weight-600 {
    font-weight: 600 !important;
}

.btn-order {
    border-radius:20px;
    height: 90%;
    width: 260px;
    font-weight: bold;
    background: linear-gradient(to right,rgb(217, 230, 233),rgb(168, 236, 216), rgb(211, 231, 122), rgb(236, 222, 19));
    font-size: 20px;
    border: solid 3px black;
}

.btn-order:hover {
    background: linear-gradient(to right,rgb(235, 35, 28),rgb(236, 189, 128), rgb(217, 238, 123), rgb(180, 236, 143))
}

.btn-order:active {
    background: linear-gradient(to right,rgb(131, 20, 16),rgb(138, 94, 36), rgb(107, 121, 48), rgb(57, 112, 21))
}