.product-infor_prices {
    background-color:whitesmoke;
}

.product-infor_prices-real {
    font-size: 40px;
    font-weight: bold;
    margin-right: 5px;
}

.addr-info_addr {
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}

.addr-info_change {
    color: rgb(61, 96, 137);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

.addr-info_change:hover {
    text-decoration: underline;
}

/* .add-cart {
    border: 1px solid black;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-order {
    max-height: 50px;
}

#content {
    min-height: 500px;
}

.setTableDefault{
    padding: 0px;
    margin: 0px;
}

.setBorderDefault{
    padding: 20px 40px;
    margin: 30px 10px;
    border: 1px solid lightgrey;
}

.tableColor{
    background-color: rgb(228, 226, 226);
}

.star-rating{
    width: 600px;
    height: 460px;
    padding: 20px 40px;
    margin: 30px 10px;
    border: 1px solid lightgrey;
}

.rotateStar{
    transform: rotateY(180deg);
    margin: 50px 60px 0px 0px;
}

.star-rating input{
    display: none;
}

.star-rating label{
    font-size: 80px;
    color: lightgray;
    transition: all 0.4s ease;
}

.starLightColor{
    color: rgb(250, 250, 92);
    text-shadow: 0 0 5px rgb(172, 42, 19);
    font-size: 45px;
}

.starUnlightColor{
    color: lightgray;
    text-shadow: 0 0 5px black;
    font-size: 45px;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: rgb(250, 250, 92);
    text-shadow: 0 0 15px rgb(177, 125, 85);
}

input:checked ~ label{
    color: rgb(250, 250, 92);
    text-shadow: 0 0 15px rgb(172, 42, 19);
}