.background{
    width: 900px; 
    height: 250;
}

.avatar{
    width: 230px; 
    height: 235; 
    position: relative; 
    top: -100px;
    z-index: 2;
}

.username{
    position: relative; 
    top: -80px; 
    font-size: 50px;
}

.mainColor{
    background: linear-gradient(to right,rgb(217, 230, 233),rgb(168, 236, 216), rgb(211, 231, 122), rgb(236, 222, 19));
}

.inputRow{
    padding: 5px;
}

.inputField{
    padding: 15px;
}

